[Unit]
Description=XOVI gesture-triggered activator
Documentation=https://github.com/viraya/ReadMarkable
Wants=home.mount
After=home.mount

[Service]
Type=simple
ExecStart=/home/root/xovi-trigger/xovi-trigger
Restart=on-failure
RestartSec=5
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
